In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
sns.set_style('whitegrid')

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [75]:
df = pd.read_csv('power.csv')

In [76]:
df=df[df.replace('Null',np.nan).notnull().all(1)]

In [77]:
df.head()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
0,MAC000002,Std,2012-10-12 00:30:00.0000000,0,ACORN-A,Affluent
1,MAC000002,Std,2012-10-12 01:00:00.0000000,0,ACORN-A,Affluent
2,MAC000002,Std,2012-10-12 01:30:00.0000000,0,ACORN-A,Affluent
3,MAC000002,Std,2012-10-12 02:00:00.0000000,0,ACORN-A,Affluent
4,MAC000002,Std,2012-10-12 02:30:00.0000000,0,ACORN-A,Affluent

In [78]:
from sklearn import preprocessing
import pandas as pd
le = preprocessing.LabelEncoder()

# Fit the encoder object (le) to a pandas field with categorical data

le.fit(df['LCLid'])
le.fit(df['Acorn']) 
le.fit(df['Acorn_grouped'])

LabelEncoder()

In [79]:
# Display labels
list(le.classes_)

['ACORN-U', 'Adversity', 'Affluent', 'Comfortable']

In [80]:
# Apply the label encoder object to a pandas column
df['Acorn_grouped']=le.fit_transform(df['Acorn_grouped']) 
df['LCLid']=le.fit_transform(df['LCLid']) 
df['Acorn']=le.fit_transform(df['Acorn'])

In [81]:
print(df.columns)
print(df.shape)
df.head()

Index(['LCLid', 'stdorToU', 'DateTime', 'KWH/hh (per half hour) ', 'Acorn',
       'Acorn_grouped'],
      dtype='object')
(999971, 6)

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
0,0,Std,2012-10-12 00:30:00.0000000,0,0,2
1,0,Std,2012-10-12 01:00:00.0000000,0,0,2
2,0,Std,2012-10-12 01:30:00.0000000,0,0,2
3,0,Std,2012-10-12 02:00:00.0000000,0,0,2
4,0,Std,2012-10-12 02:30:00.0000000,0,0,2

In [82]:
y_column = ['KWH/hh (per half hour) ']
X_column = ['Acorn_grouped','LCLid','Acorn']

In [83]:
threshold = 0.8
absolute_threshold = int(df.shape[0] * threshold)

print('Train')
X_train = df.iloc[:absolute_threshold][X_column]
y_train = df.iloc[:absolute_threshold][y_column]

X_test = df.iloc[absolute_threshold:][X_column]
y_test = df.iloc[absolute_threshold:][y_column]





print('X_train', X_train.shape)
print('y_train', y_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)

Train
X_train (799976, 3)
y_train (799976, 1)
X_test (199995, 3)
y_test (199995, 1)

In [84]:
df.head()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
0,0,Std,2012-10-12 00:30:00.0000000,0,0,2
1,0,Std,2012-10-12 01:00:00.0000000,0,0,2
2,0,Std,2012-10-12 01:30:00.0000000,0,0,2
3,0,Std,2012-10-12 02:00:00.0000000,0,0,2
4,0,Std,2012-10-12 02:30:00.0000000,0,0,2

In [85]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [86]:
mae = mean_absolute_error(y_test, y_pred)
print('MAE', round(mae, 2))

MAE 0.27